module {{.ModulePath}}

go {{.GoVersion}}

require (
	github.com/game-dev-zone/pkg-game-framework {{.FrameworkVersion}}
	github.com/game-dev-zone/pkg-proto {{.ProtoVersion}}
	github.com/rs/zerolog v1.33.0
)
